{% for item in BASE_GROUPS %}
{% if item.group == "admins" %}
%{{ item.group }} ALL=(ALL:ALL) NOPASSWD:ALL
{% endif %}
{% if item.group == "developers" %}
%{{ item.group }} ALL=(deploy) ALL
%{{ item.group }} ALL=(root)\ 
{{ item.privileges | trim }}
{% endif %}
{% if item.group == "google-developers" %}
%{{ item.group }} ALL=(deploy) NOPASSWD: ALL
%{{ item.group }} ALL=(root) NOPASSWD:\
{{ item.privileges | trim }}
{% endif %}
{% if item.group == "ipa_developers" %}
%{{ item.group }} ALL=(deploy) ALL
{% endif %}
{% if item.group == "telegraf" %}
Defaults:{{ item.group }} !requiretty
%{{ item.group }} ALL=(ALL) NOPASSWD:\
{{ item.privileges | trim }}
{% endif %}
{% if item.group == "gitlab-runner" %}
%{{ item.group }} ALL=(deploy) NOPASSWD:ALL\
%{{ item.group }} ALL=(root) NOPASSWD:\
{{ item.privileges | trim }}
{% endif %}
{% if item.group == "front_dev" %}
%{{ item.group }} ALL=(build-wallet) ALL
%{{ item.group }} ALL=(build-pay) ALL
{% endif %}
{% endfor %}
